JSON-NODE-RED
[
  {
    "id": "mqtt_qr_in",
    "type": "mqtt in",
    "z": "qr-flow",
    "name": "Receber QR Code",
    "topic": "leitura/qr",
    "qos": "0",
    "datatype": "auto",
    "broker": "hivemq_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 120,
    "y": 100,
    "wires": [["debug_qr", "text_qr"]]
  },
  {
    "id": "debug_qr",
    "type": "debug",
    "z": "qr-flow",
    "name": "Ver no debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 350,
    "y": 80,
    "wires": []
  },
  {
    "id": "text_qr",
    "type": "ui_text",
    "z": "qr-flow",
    "group": "dashboard_group",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "QR Lido",
    "label": "QR Code Detectado",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 350,
    "y": 120,
    "wires": []
  },
  {
    "id": "hivemq_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Leituras",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "QR Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]
